<footer class="footer">
  <small>
    See this on Github: <a href="https://github.com/JohnJohnsonDampBox/user_user"><img src="<%= asset_path( 'GitHub-Mark-32px.png' ) %>" /></a>
    by Craig Lucksted
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>